.scoreboard {
  width: 250px;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}
.scorecard {
  background: #fff;
  height: 36px;
  padding: .25em .5em;
  border-bottom: 1px solid #bbb;
  font-size: 11pt;
}
.scoreboardTitle {
  font-size: 150%;
  font-weight: 700;
}
.scoreboardName {
  font-weight: 700;
}
.scoreboardPoints {
  font-weight: 700;
}
