#gameroomTop {
  height: 5%;
}

#mainArea {
  height: 55%;
  position: relative;
}

#gameroomBottom {
  position: relative;
  height: 40%;
  width: 100%;
  display: flex;
}

.scoreboard {
  width: 250px;
  height: 100%;
  overflow-y: auto;
}

.scorecard {
  background: #fff;
  height: 36px;
  padding: .25em .5em;
  border-bottom: 1px solid #bbb;
  font-size: 11pt;
}

.scoreboardTitle {
  font-size: 150%;
  font-weight: 700;
}

.scoreboardName {
  font-weight: 700;
}

.scoreboardPoints {
  font-weight: 700;
}

.host {
  float: right;
}

.chat {
  background: #f2f5f7;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.chatlog {
  overflow: auto;
  width: 100%;
  height: 90%;
}

.chatbox {
  display: flex;
  white-space: pre;
}

.chatbox textarea {
  height: 15px;
  flex: 1;
}
